:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg:#000;
  color-scheme: light dark;
  --color:#eee;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-wrap:wrap;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.bookAddContainer{
  width:100vw;
  margin:2rem auto;
}
.bookAddContainer form{
  width:calc(100% - 250px);
  flex-direction: column;
  /* border:2px solid var(--color); */
  box-shadow: 2px 2px 10px #999,
              inset 2px 2px 10px var(--color),
              inset -2px -2px 10px #000;
  border-radius:2rem;
  font-weight: 1000;
  font-family: Georgia;
}
.bookAddContainer form select{
  width:250px;
  height:30px;
  padding:0.3rem 1rem;
}
.bookAddContainer form > * input{
  width:100%;
  margin:0.2rem auto;
  height: calc(80px - 50px);
  padding: 0.5rem 0.6rem;
  font-size: 1.2rem;
  border-radius: 0.6rem;
  font-weight: 1000;
  transition: all 0.5s;
}
.bookAddContainer form > * input:active,.bookAddContainer form > * input:hover{
  border:2px inset var(--color);
  box-shadow: inset -2px -2px 4px var(--color),
 inset 2px 2px 5px #000;
}
.bookAddContainer form button{
  margin:1.2rem auto;
  border-radius:2rem;
  transition: all 0.5s;
}
.bookAddContainer form button:hover{
  box-shadow: 2px 2px 10px #999,
              inset 2px 2px 10px var(--color),
              inset -2px -2px 10px #000;
  border-radius:2rem;
  background: var(--color);
  color:var(--bg);
}
.m2{
  margin-top:2rem;
  font-size: 2rem;
}
 .bookContainer{
        width:calc(100vw - 30px);
        margin:2rem auto;
        /* border:1px solid red; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        word-break: break-all;
      }
      article{
        width:45%;
        /* border:1px solid blue; */
        word-break: all;
        padding: 1.2rem 0 1.2rem 2rem;
        margin:2rem auto;
        font-weight: 1000;
        font-family: Georgia;
        text-align: left;
      }
      article > * h1{
        font-size: 2rem;
      }
      table{
        width:100%;
        border-radius: 1rem;
        padding: 0.4rem 1rem;
        box-shadow: 2px 2px 10px #999,
              inset 2px 2px 10px var(--color),
              inset -2px -2px 10px #000;
      }
     table > * td,table > * th{
       border: none ;
       padding: 0rem 0.2rem;
     }
      article > * span{
        color:var(--color);
        font-weight:600;
        font-size:1.2rem;
        padding: 0.5rem 0;
      }
      .bookTitle{
        color:#09f;
        font-weight: 1000;
        font-family: Georgia;
      }
      .bookAuthor{
        color:#f90;
      }
      .booksPrice{
        color:#fa9;
      }
      .bookDiscription{
        color:#0cf;
        font-weight: 900;
        font-size: 0.7rem;
      }
      .bookAdition{
        color:#fa0;
      }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --color:#333;
    --bg:#ddd;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width:660px){
  .bookAddContainer form{
    width:calc(100% - 30px);
   /* background: red;*/
  }
  article{
        width:100%;
      }
}